@model kt6.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<h2>Product Details</h2>
<p>ID: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Price: @Model.Price</p>
<p>Category ID: @Model.CategoryId</p>
